<h1><%=@user.username%>'s Poses</h1>

 <button class="load-poses" data-id="<%= @user.id %>">Load Poses</button></br>
<%@user.poses.each do |pose|%>
<%= image_tag pose.image.url(:thumb) %>
<br>
<%=link_to pose.name, pose_path(pose)%> - <%=pose.level.level%>
<br><br>

<%end%>
<div class="poses">
</div>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".load-poses").on("click", function() {
    var userid = $(this).data("id");
    $.get("/users/" + userid + ".json", function(data) {

    var poses= data["poses"];
    var poseDetails=""
    poses.forEach(function(pose){

      var pic= pose["image"]
      $(".poses").append('<img src="'+ pic +'">')
      $(".poses").append("<p>"+ pose["name"] + ' - '+ pose["level"]["level"] + "</p>"+"<br>")
      //$(".poses").append("<p>"+ "<a href='/poses/' + pose["id"] + ''>pose["name"]</a>" + ' - '+ pose["level"]["level"] + "</p>"+"<br>")
      //do we want plus signs around pose["name"] just like we had in the img tag ?
      //which link does it go to? do we want plus signs here as well ? will need to interpolate pose["id"] from data
      //look at stackoverflow answer in jquery folder 
    })
    });
  });
});
</script>

//make ajax here to get user's poses
