<%if @pose.errors.any?%>
<h2>There were some errors:</h2>
<% @pose.errors.full_messages.each do |message| %>
         <li><%= message %></li>
<% end %>
<%end%>
# add enctype="multipart/form-data"
<%=form_for @pose, html: {multipart: true} do |t|%>
<div class="field">
<p>Pose name:<%=t.text_field :name, required: true%></p>
</div>
<%=t.hidden_field :level_id %>
<div class="field">
<p>Description:<%=t.text_field :content, required: true %></p>
</div>
<div class="field">
 <p>Attach Image:<%= t.file_field :image, required: true %></p>
</div>
<%=t.collection_check_boxes :category_ids, Category.all, :id, :name%>

<%if params[:level_id] != nil%>
<%else%>
<p>Level:<%=t.collection_select :level_id, Level.all, :id, :level%></p>
<%end%>
<br>

<br>
<%=t.submit%>
<%end%>
