required: true

<%if @pose.errors.any?%>
<h2>There were some errors:</h2>
<% @pose.errors.full_messages.each do |message| %>
         <li><%= message %></li>
<% end %>
<%end%>
# add enctype="multipart/form-data"
<%=form_for @pose, html: {multipart: true} do |t|%>
<div class="field">
<p>Pose name:<%=t.text_field :name%></p>
</div>
<div class="field">
<p>Description:<%=t.text_field :content %></p>
</div>
<p>Attach image:<input type="file" name="pose[pic]" accept="image/png,image/gif,image/jpeg" ></p>
<div class="field">
 <p>Attach paperclip Image:<%= t.file_field :image %></p>
</div>
<%=t.collection_check_boxes :category_ids, Category.all, :id, :name%>
<p>Level:<%=t.collection_select :level_id, Level.all, :id, :level%></p>
<br>

<br>
<%=t.submit%>
<%end%>
