<%flash.each do |name,value|%>
<%=value%>
<%end%>
<!-- <header class="jumbotron">
<div class="container"> -->
<%if logged_in?%>
<h2>Hi, you are logged in as <%=@user.username%></h2>
<br>
 <%if @poses == Pose.all%>
<span style="float:right;"><%=button_to "Create New Pose", new_pose_path, :method=>"get"%></span>
  <%end%>
<%else%>
<p><%=link_to "Log in", controller:'sessions',action:'new'%> or <%=link_to "sign up",controller:'users',action:'new'%> to list a pose </p>
<%end%>

<%if @poses == Pose.all%>
<div>
  <h3>Filter poses by:</h3>
  <%= form_tag("/poses", method: "get") do %>
  <p>category:
<%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
or level:
    <%= select_tag "level", options_from_collection_for_select(Level.all, "id", "level"), include_blank: true %>
  </p>  <%= submit_tag "Filter" %>
  <% end %>
</div>
<%end%>
<!-- </div>
</header> -->

<br>
<%@poses.each do |pose|%>


           <div class="col-md-4 col-sm-6">
               <div class="thumbnail">
                <%= image_tag pose.image.url(:thumb) %>
                  <div class="caption">
                      <h2><%=link_to pose.name,pose_path(pose)%></h2>
                      <h4><%=pose.level.level%></h4>
                  </div>

               </div>
           </div>



<!-- <br> -->
<%end%>
<!-- <%if logged_in?%>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>

<% end %> -->

<%end%>
