
<%if logged_in?%>
<h2>Hi, you are logged in as <%=@user.username%></h2>
<br>
<%=link_to "Create New Pose", new_pose_path%>
<%end%>

  <%  if !params[:level].blank?%>
  <%  @poses=Pose.where(level: params[:level])%>
      <%elsif !params[:categories].blank?%> #change to categories?
      <%@poses=Pose.includes(:categories).where(categories: {id:params[:categories]})%> #doesnt work

    <%end%>
<div>
  <h3>Filter poses by:</h3>
  <%= form_tag("/poses", method: "get") do %>
  <p>category:
<%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
or level:
    <%= select_tag "level", options_from_collection_for_select(Level.all, "id", "level"), include_blank: true %>
  </p>  <%= submit_tag "Filter" %>
  <% end %>
</div>
#how to filter by both things at once? should i do filter by many categories check_boxes?

<%@poses.all.each do |pose|%>
<p><%=pose.image%></p>
<h2><%=link_to pose.name,pose_path(pose)%></h2>
<h4><%=pose.level.level%></h4>
<br>
<%end%>
<%if logged_in?%>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<%end%>
