<%if @reviews != "No reviews yet."%>
<h3 id="Reviews">Reviews:</h3>
<ul>
<%@reviews.each do |review|%>

<li><%=review.user.username%> says <%=review.content%><li>
   </ul>
<%end%>

<ul id="review">
</ul>


<%else%>
<p><%=@reviews%></p>
<%end%>


<%@user.poses.each do |pose|%>
<%= image_tag pose.image.url(:thumb) %>
<br>
<%=link_to pose.name, pose_path(pose)%> - <%=pose.level.level%>
<br><br>

<%end%>
