


<%= image_tag @pose.image.url %>


<h1><%=@pose.name%></h1>
<h3><%=@pose.content%></h3>
<ul>
  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li>
<%end%>
</ul>
<br>
<%if @reviews != "No reviews yet."%>
<h3>Reviews:</h3>
<ul>
<%@reviews.each do |review|%>

<li><%=review.user.username%> says <%=review.content%><li>
   </ul>
<%end%>


<%else%>
<p><%=@reviews%></p>
<%end%>
<%if !logged_in?%>
<p><%=link_to "Log In",controller:'sessions',action:'new'%> or <%=link_to "sign up",controller:'users',action:'new'%> to write a review!</p>
<%end%>

<%if logged_in?%>
<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<%=f.submit%>
<%end%>
<br><br>

<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>
<a href="/poses">Go back to all poses</a>
