<img src="">
<h1><%=@pose.name%></h1>
<h3><%=@pose.description%></h3>


<ul>
<%=@pose.reviews.each do |review|%>
<li>
<%=review.user.username%>-<%=review.content%>
</li>
<%end%>
</ul>

<%if current_user == @pose.user_id%> #Links to edit and delete

<form method="post"action="/poses/<%=@pose.id%>/delete"> #will this one work??
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<%end%>
