<a href="#" class="js-next" data-id="<%=@pose.id%>">Next Pose</a>
<div class="poseImage"><%= image_tag @pose.image.url %></div>

<h1 class="poseName"><%=@pose.name%></h1>
<h3 class="poseContent"><%=@pose.content%></h3>
<ul>
<div class="poseCategories">  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li>
<%end%> </div>
</ul>
<br>
<%if @reviews != "No reviews yet."%>
<h3>Reviews:</h3>
<ul>
<%@reviews.each do |review|%>

<li><%=review.user.username%> says <%=review.content%><li>
   </ul>
<%end%>


<%else%>
<p><%=@reviews%></p>
<%end%>
<%if !logged_in?%>
<p><%=link_to "Log In",controller:'sessions',action:'new'%> or <%=link_to "sign up",controller:'users',action:'new'%> to write a review!</p>
<%end%>

<%if logged_in?%>
<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<%=f.submit%>
<%end%>
<br><br>

 #is there a way to have the format "username says - content "
  <ul id="review">
  </ul>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
        event.preventDefault();
       var result= $("form").val() //form returns a context sub element
      //  var values= $(result).serialize() //use .val() to get value from form field
      var values = $(this).serialize(); //THIS is a node list wich has this[2]= textarea and this[4]= user_id
      //values is undefined

      var id = parseInt($(".js-next").attr("data-id")) //this should get it from the current @pose.id

      var posting = $.post('/poses/'+ id, values); //posting has 404 status 
debugger //stops here
      posting.done(function(data) {
//debugger didnt stop here
        var post = data;
        var reviewText= "<li>" + post["user_id"] + " says " + post["content"] + "</li>"
        $("#review").html(reviewText)
        //$("#review").text(post["user_id"]); //need to attach more to make username show
        //$("#review").text(post["content"]);
      });
    });
  });
</script>


<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>

<a href="/poses">Go back to all poses</a>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
        $.getJSON("/poses/" + nextId + ".json", function(data) {

      //$(".poseCategories").text(data["categories"]);
      $(".poseName").text(data["name"]);
      $(".poseContent").text(data["content"]);
      $(".poseImage").text(data["image"]); //not gonna work.

      var categories= data["categories"]
      categoryNames=''
      categories.forEach(function(category){
        categoryNames+= category["name"]
      })
      $(".poseCategories").text(categoryNames) //or html? but didnt put any html tags

      if (data["reviews"].length > 0){
             var reviews = product["reviews"];
             var reviewContents = "";
             reviews.forEach(function(order) { //need to make the post review form work too here !

               orderContents += review["content"]
             });
             $("#product-" + id + "-orders").text(orderContents);
           }
        $(".js-next").attr("data-id", data["id"]);
      alert(data["id"])
    });
  });
});
</script>
