<a href="#" class="js-next" data-id="<%=@pose.id%>">Next Pose</a>
<div class="poseImage"><%= image_tag @pose.image.url %></div>

<h1 class="poseName"><%=@pose.name%></h1>
<h3 class="poseContent"><%=@pose.content%></h3>
<ul>
<div class="poseCategories">  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li>
<%end%> </div>
</ul>
<br>
<button class="loadReviews" data-id="<%=@pose.id%>">Load Reviews</button>
<ul id="load-review">
</ul>
<ul id="review">
</ul>


<%if logged_in?%>
<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<%=f.submit%>
<%end%>
<br><br>




<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>

<a href="/poses">Go back to all poses</a>
