<a href="#" class="js-next" data-id="<%=@pose.id%>">Next Pose</a>
<div class="poseImage"><%= image_tag @pose.image.url %></div>

<h1 class="poseName"><%=@pose.name%></h1>
<h3 class="poseContent"><%=@pose.content%></h3>
<ul>
<div class="poseCategories">  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li>
<%end%> </div>
</ul>
<br>
<%if @reviews != "No reviews yet."%>
<h3>Reviews:</h3>
<ul>
<%@reviews.each do |review|%>

<li><%=review.user.username%> says <%=review.content%><li>
   </ul>
<%end%>


<%else%>
<p><%=@reviews%></p>
<%end%>
<%if !logged_in?%>
<p><%=link_to "Log In",controller:'sessions',action:'new'%> or <%=link_to "sign up",controller:'users',action:'new'%> to write a review!</p>
<%end%>

<%if logged_in?%>
<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<%=f.submit%>
<%end%>
<br><br>

<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>

<a href="/poses">Go back to all poses</a>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/posts/" + nextId + ".json", function(data) {
      $(".poseCategories").text(data["categories"]); //dont know if this will be enough
      $(".poseName").text(data["name"]);
      $(".poseContent").text(data["content"]);
      $(".postBody").text(data["image"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
