<img src="">
<h1><%=@pose.name%></h1>
<h3><%=@pose.content%></h3>
<ul>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li> #dont need category show pages bcause havefilter feature
<%end%>
</ul>
<%if @pose.reviews.empty?%>
<p>No reviews yet.</p>
<%else%>
<ul>
  <%=@pose.reviews.each do |review|%> #isplaying has many thru lab
<li>
<%=link_to review.user.username, user_path(review.user)%> says <%=review.content%>
#not sure if have user path
</li>
<%end%>
</ul>
<%end%>


<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_field :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.collection_select(:user_id, User.all, :id, :username, include_blank: 'Any')%> #cange to the user thats logged in
<!--options = {:include_blank}-->
<h4>Or create a new user:</h4>
<%= f.fields_for :user, @review.build_user do |users_fields| %>
  <%= users_fields.text_field :username %>
<% end %>
<%=f.submit%>
<%end%>

<%if current_user == @pose.user_id%> #Links to edit and delete

<form method="post"action="/poses/<%=@pose.id%>/delete"> #will this one work??
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<%end%>
