<a href="#" class="js-next" data-id="<%=@pose.id%>">Next Pose</a>
<div class="poseImage"><%= image_tag @pose.image.url %></div>

<h1 class="poseName"><%=@pose.name%></h1>
<h3 class="poseContent"><%=@pose.content%></h3>
<ul>
<div class="poseCategories">  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li>
<%end%> </div>
</ul>
<br>
<button class="loadReviews" data-id="<%=@pose.id%>">Load Reviews</button>
<ul id="load-review">
</ul>
<ul id="review">
</ul>


<%if logged_in?%>
<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<%=f.submit%>
<%end%>
<br><br>

<script type="text/javascript" charset="utf-8"> //load reviews
  $(function () {
    $("button").on("click", function() {
      var poseid = $(this).data("id");
        $.get("/poses/" + poseid + ".json", function(data) {
        var reviews= data["reviews"]

        reviews.forEach(function(review){ //only last one shows

          $('#load-review').append("<li>"+review["username"] + " says " + review["content"]+"</li>") //change to username after

        })
      })
    })
  })
  </script>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {

      event.preventDefault();// need to fix argument error from username method
        function Review(username, content) {
          this.username = username;
          this.content = content;
        }
        Review.prototype.postReview = function() {
            return `${this.username} says ${this.content} `
        }

//THIS is a node list wich has this[2]= textarea (and that has innerHTML and innerTEXT as "") and this[4]= user_id

  var id = parseInt($(".js-next").attr("data-id"))

      var posting = $.post('/reviews', $(this).serialize());

      posting.done(function(data) {

       var post = data;
      // debugger
      //  var reviewText= "<li>" + post["user_id"] + " says " + post["content"] + "</li>" //need a way to turn this into username....
      //  $("#review").html(reviewText)

//post["username(data["id"])"]
       var review2 = new Review(post["username"], post["content"]); // how to get username?
          $("#review").html("<li>"+ review2.postReview() + "</li>")  //with both of the 2 methods, at first page says "1 says..."
          //then changes when refreshed.

      });
    });
  });
</script>


<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>

<a href="/poses">Go back to all poses</a>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault()
    var Id= parseInt($(".js-next").attr("data-id"))
    var nextId = parseInt($(".js-next").attr("data-id")) + 1
        $.getJSON("/poses/" + nextId + ".json", function(data) { //data.id
          // $.getJSON("/poses/" + Id + "/next.json", function(data) {

        var form_field=  $("#review_pose_id")
        form_field.val("nextId")

          //data["id"]

      $(".poseName").text(data["name"]);
      $(".poseContent").text(data["content"]);

      var pic= data["image"]
      $(".poseImage").html('<img src="'+ pic +'">')
      var categories= data["categories"]
      categoryNames=''
      categories.forEach(function(category){
        categoryNames+= category["name"]
      })
      $(".poseCategories").text(categoryNames)

      if (data["reviews"].length > 0){
             var reviews = data["reviews"];
             var reviewContents = "";
             reviews.forEach(function(review) { //need to make the post review form work too here !

               reviewContents += review["content"]
             });

           }
        $(".js-next").attr("data-id", data["id"]);
      //  debugger //pauses on poses/4 page with debugger here
        // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Read-only
    });
  });
});
</script>
