<%= image_tag @pose.image.url %>
<%= image_tag @pose.image.url(:medium) %>
<%= image_tag @pose.image.url(:thumb) %>


<h1><%=@pose.name%></h1>
<h3><%=@pose.content%></h3>
<ul>
  <h3>Categories:</h3>
<%@pose.categories.each do |category|%>
<li><%=category.name%> </li> #dont need category show pages bcause havefilter feature
<%end%>
</ul>
<br>
<%if @reviews != "No reviews yet."%>
<h3>Reviews:</h3>
<ul>
<%@reviews.each do |review|%>

<li><%=review.user.username%> says <%=review.content%><li>
   </ul>
<%end%>


<%else%>
<p><%=@reviews%></p>
<%end%>



<h1>Write a review</h1>
<%=form_for @review do |f|%>
<%=f.text_area :content%>
<%=f.hidden_field :pose_id, value:@pose.id%>
<%=f.hidden_field :user_id, value:current_user.id%>
<h4>Or create a new user:</h4>
<%= f.fields_for :user, @review.build_user do |users_fields| %>
  <%= users_fields.text_field :username %>
<% end %>
<%=f.submit%>
<%end%>
<br><br>
<%if logged_in?%>
<%if current_user.id == @pose.user_id%>
<form method="post"action="/poses/<%=@pose.id%>/delete"> #no route matches delete
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<p><%=link_to "Edit Listing", edit_pose_path(@pose)%></p>
<%end%>
<%end%>
<a href="/poses">Go back to all poses</a>
