<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
   <a href="/users/<%=session[:user_id]%>" >My Poses</a>
   <a href="/poses">All Poses</a>
   <div class="dropdown">
     <button class="dropbtn">Levels
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a href="/levels/1" >Beginner</a>
       <a href="/levels/2" >Intermediate</a>
       <a href="/levels/3">Advanced</a>
     </div>
   </div>
    <%if logged_in?%>
  <a id="L" onclick="logout()">Logout </a>
      <!-- <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='logout'> -->

     <% end %>


    <%else%>
    <%=link_to "Log in", controller:'sessions',action:'new'%>
    <%end%>
 </div>
 <script>
 function logout(){
   console.log("A")
document.getElementById("log").submit()
 }
 </script>
 <form id="log"action="/logout" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>

 <!-- <form id="log"action="/logout" method="POST">
   <input name="authenticity_token" value="DqNKIONYpsLkVGsKZ8OYADut0U+O2aaijkMeCep+GF+fLljq//twJ8zsE/uUxNhDKtc1D6B9VYEzmCW334fxCQ==" type="hidden">
 </form> -->
 <!-- <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
   <input type=submit value='logout'>
<% end %> -->


<!-- Latest compiled and minified CSS -->
<style>

body {
  padding: 0;
  margin: 0;
}
body >* {
  margin: 3px;
}
.navbar {
 overflow: hidden;
 background-color: green;
 font-family: Arial;
 margin: 0;
}
/* Links inside the navbar */
.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 margin: 0;
}
.navbar p {
    float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/* The dropdown container */
.dropdown {
 float: left;
 overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit; /* Important for vertical align on mobile phones */
 margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: red;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
 float: none;
 color: green;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
 background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 display: block;
}
</style>
    <%= yield %>
  </body>
</html>
